.bottom-indent{
  margin-bottom: 5px;
}

.neighboring-buttons{
  margin-left: 2px;
}

.admin-button{
  background: none repeat scroll 0 0 #b34f4f !important;
  border: 1px solid #b34f4f !important;
}
.admin-button:hover {
  background: none repeat scroll 0 0 #3b3c41 !important;
  border: 1px solid #3b3c41 !important;
}

.orders-table table td{
  width: 0 !important;
}

.shop-item img{
  height: 300px;
}

.disabled-watch{
  opacity: 0.3;
}

.flex-center{
  display: flex !important;
  justify-content: center !important;
}

.product-details-nav li {
  cursor: pointer;
}